@import url(http://fonts.googleapis.com/css?family=Open+Sans|Roboto|Gorditas);
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

@include button($link, $visit, $hover, $active); 



html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: $font-primary;
  background-color: $primary-color-light;
}

h1 {
  @include h-center();
  font-size: 2.2rem;
}

h2 {
  @include h-center();
  font-size: 1.6rem;
}

h3 {
  @include h-center();
  font-size: 1.3rem;
}

section {
  // height is the size of the viewport
  height: 100vh;
  // background-image: $header-img;

  perspective: 1px;

  // http://elijahmanor.com/dynamic-repeating-sass-colors/
  // changing section color dynamically
  // For later, just use a loop with the lighten() function
  @for $i from 1 through $section-colors-length {
    &:nth-of-type(#{$section-colors-length}n+#{$i}) {
      background-color: nth($section-colors, $i);      
    }
  } 

  .bear-description {
    margin: 0 auto;
    width: 80%;
    text-align: left;
    margin-top: 5%;
    color: lighten($white, 25);
  }

  .profile-pic {
    max-width: 30vw;
    max-height: 30vw;
    margin-top: 5%;
    border-radius: 20%;
    box-shadow: 5px 5px 5px;
  }

  .wbb-logo {

    // put over video
    position: absolute;

    // center vertically
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 50vh;
    z-index: 5000;
  }

  .modal-button {
    color: $black;
    opacity: 0.8;
    margin: 0 auto;
    width: 30vh;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    padding: 5px;

    &:hover {
      background-color: $hover;  
      box-shadow: 5px 5px 5px $primary-color-dark; 
    }
  }


  .arrow {
    font-size: 3em;
    margin-left: 20px;
    margin-right: 20px;
  }

  .carousel-h1 {
    display: inline-block;
  }

  #buttons {
    position: absolute;
    display: inline-block;
    @include horizontalcenter();
  }

  .slides {
    // width: 80vh;
    overflow-y: hidden;
    .hideable {
      // @include horizontalcenter-margin();
      @include transition();
      opacity: 1;
      // transition: opacity 1s, height 0;

      @include horizontalcenter-margin();
      // width: 50vh;

      img {
        height: 50vh;
        display: block;
        margin: 10px auto;
      }

    }

    .hidden {

      opacity: 0;
      transition: opacity 1s, height 0 1s;
      height: 0;
    }
  }
}

#section-two {
  perspective: 1px;
  // height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  background-size: cover;
  background-image: url("/media/bear.jpg");
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

#section-four {
  .icons {
    @include horizontalcenter();
    @include ignoreAnchorColors();
    position: absolute;
    color: $white;

  }
  h2 {
    padding-top: 5px;
  }
  height: 80px;
}


/*
*  flexbox for columns
*/

.flex-container {
  display: flex;
}

.flex-item {
  @include verticalcenter();

  text-align: center;
  
  flex: 0 1 auto;
  margin: 0 auto;
  overflow-x: hidden;

  max-width: 30vh;
  // overflow: hidden;

  img {
    // width: auto;
    height: 25vh;
  }
}

.flex-item-middle {
  text-align: center;

  flex: 0 1 auto;
  margin: 0 auto;
  overflow-x: hidden;

  max-width: 80vh;
}



/**
* fixed header stuff
*/
.header-container {
  @include transition();
  position: fixed;
  top: 0;
  background-color: darken($header-color, 10);
  width: 100%;
  z-index: 2000;
  height: $header-height;
  opacity: 0.8;

  &.minimized {
    height: $header-height-mini;
  }
  
  .header-button {
    @include transition();

    &.minimized{
      line-height: $header-height-mini;
    }

    // highlight the button when we are in that viewport
    &.active {
      background-color: darken($hover, 25);
    }
    top: 0;
    margin: 0;
    height: 100%;
    width: 100px;

    font-family: $font-title;
    color: $secondary-text-color;

    // vertical alignment
    line-height: $header-height;

    // horizontal alignment
    text-align: center;

    // get rid of underline
    text-decoration: none;

    // allow block (lets me change dimensions of span)
    display: inline-block;
    overflow: auto;


    // // sexy-ass animation
    // -webkit-transition: line-height 0.8s;
    // -moz-transition: line-height 0.8s;
    // transition: line-height 0.8s;


  }

  // -webkit-transition: height 0.8s;
  // -moz-transition: height 0.8s;
  // transition: height 0.8s;
}

video {
  position: relative;
  top: 50%;
  left: 50%;
  width: auto;
  height: 120%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 5;
}


/* http://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
.modal {
  @include transition();
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  z-index: 1; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
  @include transition();
  background-color: #fefefe;
  border-radius: 20px;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.center {
  text-align: center;
}

