// http://www.sitepoint.com/sass-basics-the-mixin-directive/
/* use this for showing which section currently in
** and to allow smooth scrolling to certain sections 	
*/
@mixin button ($link, $visit, $hover, $active) {
  .header-button {
    // color: $link;
    &:visited {
      background-color: $visit;
    }
    &:hover {
      background-color: $hover;   
    }
    &:active {
      background-color: $active;
    }
  }
}

@mixin h-center () {
  padding-top: $header-height;
  font-family: $font-title;
  color: lighten($white, 25);
  text-align: center;
}

@mixin horizontalcenter () {
  left: 50%;
  transform: translateX(-50%);
}

@mixin horizontalcenter-margin (){
  margin: 0 auto;
}

@mixin verticalcenter () {
  top: 50%;
  position: absolute; 
  transform: translateY(-50%);
}

@mixin transition() {
  -webkit-transition: height 0.8s;
  -moz-transition: height 0.8s;
  transition: height 0.8s;
}

@mixin transitionhover() {
  transition: box-shadow .25s ease-in-out;
   -moz-transition: box-shadow .25s ease-in-out;
   -webkit-transition: box-shadow .25s ease-in-out;
  transition: background-color .25s ease-in-out;
   -moz-transition: background-color .25s ease-in-out;
   -webkit-transition: background-color .25s ease-in-out;
}

@mixin ignoreAnchorColors() {
  a {
    &:link {
      color: $white;
      text-decoration: none;
    }
    &:visited {
      color: $white;
      text-decoration: none;
    }
    &:hover {
      color: $accent-color;
      text-decoration: none;

    }
  }
}